{% extends 'base.html' %}

{% block content %}

{% load static %}
<table align="center" style="text-align: center; margin-top: 100px; margin-bottom:100px; border-spacing:100px 0px;">

    <td>
    <div>
        <img src="{% static 'images/vidhi.jpg'%}" style="width: 200px; height:200px; border:thick">
    </div>
    <div>
        <label style="font-size: xx-large; font-family:fantasy; font:bolder">Vidhi Maheriya</label>
    </div>
    <div style="font-family: fantasy; font-size: x-large">
        Web Developer
    </div>
    <div>
        <a href="https://in.linkedin.com/in/vidhi-maheriya-8769621a1"><button
                style="background: #0073b0; color:snow; font-size: large; padding-left:1%; padding-right:1%">Linked In</button></a>
    </div>
    </td>
    

    <td>
    <div>
        <img src="{% static 'images/krishna.jpeg'%}" style="width: 200px; height:200px; border:thick">
    </div>
    <div>
        <label style="font-size: xx-large; font-family:fantasy; font:bolder">Krishna Sinroja</label>
    </div>
    <div style="font-family: fantasy; font-size: x-large">
        Web Developer
    </div>
    <div>
        <a href="https://in.linkedin.com/in/vidhi-maheriya-8769621a1"><button
                style="background: #0073b0; color:snow; font-size: large; padding-left:1%; padding-right:1%">Linked In</button></a>
    </div>
    </td>

</table>
{% endblock %}