{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/ss.css' %}">
</head>

<body>
    <div class="backRight" style="background-image: url({% static 'images/image2.jpg' %})"></div>
    <div class="left">
        <div class="content">
            <h2>Faculty Sign Up</h2>
            <form method="post" action="register">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" placeholder="Full name" name="fname" required="" />
                </div>
                <div class="form-group">
                    <label for="username" class="form-label">Faculty ID</label>
                    <input type="text" placeholder="Faculty ID" name="facultyid" required="" />
                </div>
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Password" name="password" required="" />
                </div>
                <div class="form-group">
                    <label for="repass" class="form-label">Re-enter </label>
                    <input type="password" placeholder="Re-enter password" name="repass" required="" />
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Email ID </label>
                    <input type="email" name="email" required="" />
                </div>
                <div style="color: rgb(235, 76, 76)" font-size="20px" >
                    {% for msg in messages %}
                    *{{msg}}
                    {% endfor %}
                </div>
                <button type="submit">Sign up</button>
                
                
            </form>
            <label >Already have an account?
                <a href="login"><button id="goLeft" class="off">Log in</button></a></div>
            
        </div>
    </div>
</body>